:root {
    --accent-color: #0ea5e9;
    --sidebar-font-color: white;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-weight: 500;
}

li.nav {
    list-style: none;
    font-size: 1.75rem;
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(20rem, 1fr) 7fr;
    grid-template-rows: 1fr 6fr;
}

#sidebar {
    grid-row: 1 / 3;
    padding: 1.5rem;
    background-color: var(--accent-color);
    color: var(--sidebar-font-color);
    display: flex;
    flex-direction: column;
}

#site-logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 3.5rem;
}

#site-logo > svg {
    transform: scale(1.5);
}

#sidebar h2 {
    font-size: 2rem;
}

#sidebar ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.75rem;
}

#sidebar li {
    font-weight: 500;
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;
}

#sidebar svg {
    fill: white;
}

#header {
    background-color: whitesmoke;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.15);
    z-index: 1;
    padding: 1.5rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-search > input {
    width: 100%;
    max-width: 40rem;
    font-size: 1.25rem;
    padding: 0.25rem 1.25rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(219, 223, 227);
}

.header-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.header-panel > img {
    width: 4rem;
}

.header-greeting {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-greeting > img {
    width: 4rem;
}

.greeting-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.greeting-name {
    font-size: 1.5rem;
    font-weight: 500;
}

.header-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.header-buttons > button {
    font-size: 1.25rem;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--accent-color);
    color: var(--sidebar-font-color);
    cursor: pointer;
}

#main-content {
    background-color: rgb(219, 223, 227);
    padding: 2rem;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 20px;
}

#projects {
    padding: 20px;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
}

#projects > h2 {
    padding-bottom: 1rem;
}

.card-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
    grid-auto-rows: 15rem;
    gap: 2rem;
}

.card {
    background-color: whitesmoke;
    border-radius: 8px;
    border: lightgray solid 1px;
    border-left: var(--accent-color) solid 8px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.15);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card > h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.card-body {
    flex: 1;
}

.card-text {
    font-size: 1.25rem;
    color: gray;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.card-options {
    display: inline-flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.card-options > svg {
    padding: 0.5em;
}

.card-options > svg:hover {
    fill: #0ea5e9;
    background-color: rgba(173, 216, 230, 0.5);
    border-radius: 1.5em;
}

#announcements {
    padding: 20px;
}

#announcements > h2 {
    padding-bottom: 1rem;
}

.announcements-container {
    background-color: whitesmoke;
    border-radius: 8px;
    border: lightgray solid 1px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.15);
    padding: 1.5rem;
    display: grid;
    grid-template-columns: minmax(15rem, 1fr);
    gap: 1rem;
}

.announcements-container > div::after {
    content: "";
    display: block;
    border-bottom: 1px solid lightgray;
    padding-top: 1.5rem;
}

.announcements-container > div:last-child:after {
    display: none;
}

.announcement-text {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    color: gray;
}

#trending {
    padding: 20px;
}

#trending > h2 {
    padding-bottom: 1rem;
}

.trending-container {
    background-color: whitesmoke;
    border-radius: 8px;
    border: lightgray solid 1px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.15);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    grid-template-columns: minmax(15rem, 1fr);
    gap: 1rem;
}

.trending-item {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.trending-item > img {
    width: 4rem;
}

.trending-name {
    color: gray;
}